
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: Tahoma, sans-serif;
        }

        html, body {
            width: 100%;
            padding: 30px;
        }

        table, td, th {
            border: 2px solid black;
            border-collapse: collapse;
            padding: 12px 22px;
            max-width: 80%
        }


        h1 {
            font-size: 25px;
            font-weight: 500;
        }

        h3 {
            font-size: 15px;
            font-weight: 500;
        }

        .references ul {
            list-style: decimal;
        }

        .navigation {
            display: flex;
            justify-content: flex-start;
            gap: 35px;
            margin: 30px 20px;
        }


        .references a {
            color: black;
        }
    </style>

</head>
<body>


    <div class="main">


        <h1>Landing Page:</h1>

        <h3>Name       : Arafath Hossen Santo</h3>
        <h3>Id         : 20-43859-2</h3>
        <h3>Email      : arafath.hossen.santo97193@gmail.com</h3>
        <h3>Contact No : 01759621258</h3>

    </div>

    <div class="education">

        <h1>Education:</h1>
        <ul>
            <li>
                HSC
                <ul>
                    <li> Institute:Norsingdi Government College</li>
                    <li> Year     :2019</li>
                    <li> Grade    :A</li>
                    <li> Result   :4.75</li>
                </ul>
            </li>
            <li>
                SSC
                <ul>
                    <li>Institute:Purinda K.M. Sadikur Rahman High School </li>
                    <li>Year     :2017</li>
                    <li>Grade    :A+</li>
                    <li>Result   :5.00</li>
                </ul>
            </li>
        </ul>



    </div>

    <div class="project">
        <h1>Projects:</h1>
        <table>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Desciption</th>
            </tr>

            <tr>
                <td>OOP1 Java</td>
                <td>Online communicationplatform for Student</td>
                <td>This is a a Console based student chatting platform.where Different University Students can communicate with each other.</td>



            <tr>
                <td>OOP2 C#</td>
                <td>Online Phone Store</td>
                <td>This is a Desktop application developed by C#.Where user can Buy phone based on there requrement. </td>

            </tr>


            <tr>
                <td>Web technology</td>
                <td>Investor Seeker</td>
                <td>This a Website developed by html ,css ,javascipt,ajax,jquer, PHP and mysql.This is a complete platform where investor can post there company details and requred amount.then the request varified by the administration.then investor can invest in this company .if they are interested on it</td>

            </tr>


            <tr>
                <td>Personal</td>
                <td>Personal Portfolio</td>
                <td>This is my personal portfolio</td>

            </tr>

            <tr>
                <td>Computer Graphics</td>
                <td>New Work City view</td>
                <td>This is a computer graphics glut based project using openGl.The day and night view of New work city </td>

            </tr>

        </table>

    </div>


    <div class="references">
        <h1>References:</h1>
        <ul>
            <li><a href="https://github.com/santo-arafath/online-communication-platform">https://github.com/santo-arafath/online-communication-platform</a></li>
            <li><a href="https://github.com/santo-arafath/online-phone-store-">https://github.com/santo-arafath/online-phone-store-</a></li>
            <li><a href="https://github.com/santo-arafath/Investor-Seeker-Project">https://github.com/santo-arafath/Investor-Seeker-Project</a></li>
            <li><a href="https://github.com/santo-arafath/Personal-Portfolio">https://github.com/santo-arafath/Personal-Portfolio</a></li>
            <li><a href="https://github.com/santo-arafath/New-Work-City-Computer-Graphics-Project">https://github.com/santo-arafath/New-Work-City-Computer-Graphics-Project</a></li>

        </ul>
    </div>

    <div class="navigation">
        <a href="#">Home</a>
        <a href="#">Education</a>
        <a href="#">Projects</a>
        <a href="#">Personal Info</a>
        <a href="#">References</a>

    </div>


    </div>



</body>

</html>

